.margin2-left {
	margin-left: 5rem;
}



.login-page-body {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(var(--bg-color-header),#f5fffa  );
}

.login-area {
	position: relative;
	background-color: var(--bg-color-header);
	border: 2px solid #f5fffa ;
	border-radius: 4px;
	min-width: 50%;
	height: 45%;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.first-input {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.second-input {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.input-field {
	width: 100%;
	height: 1.7rem;
	font-size: 1rem;
	text-align: start;
	border: 2px solid var(--dark);
	border-radius: 4px;
	outline: none;
}

.normal-input {
	background-color: var(--primary-colorone);
	color: var(--normal-dark);
}

.third-input {
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
}

.signin-area {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.margin-auto {
	margin-left: auto;
}

.margin-left-s {
	margin-left: 0.4rem;
}
.margin-bottom-s {
	margin-bottom: 0.2rem;
}
.margin-bottom-m {
	margin-bottom: 0.5rem;
}

.normal-btn {
	background-color: #f5fffa;
	color: var(--bg-color-header);
}

.btn-width {
	width: 40%;
}
.checkbox {
	min-width: 20px;
	height: 20px;
}

.login-close {
	background-color: var(--normal-dark);
	padding: 0.2rem 0.6rem;
	border-radius: 50%;
	color: var(--primary-colorone);
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: 800;
	cursor: pointer;
}

.heading-color {
	color: #f5fffa;
}

.heart {
	color: var(--primary-colorone);
}

.nav-items a i {
	font-size: 32px;
}

.user-img {
	display: flex;
	justify-content: center;
}

.forgot-pass {
	color: var(--dark);
}
.login-close {
    background-color: #f5fffa;
    padding: 0.2rem 0.6rem;
    border-radius: 50%;
    color: var(--bg-color-header);
}
